/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  max-width: 30%;
}

#prev, #next {
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
